html,
body,
canvas {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background: #eeeeee;
}

canvas {
  display: block;
  background: inherit;
  opacity: 0;
  will-change: opacity;
}

canvas.loaded {
  opacity: 1;
  transition: opacity 0.38s ease-in;
}

/* anything wider than a phone screen */
@media all and (min-width: 480px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  canvas {
    background: #e6e6e6;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.28);
    width: 0px;
    height: 0px;
  }
  canvas.loaded {
    transition:opacity .5s ease-out,  width .4s ease-out, height  .28s ease-in;
  }
}

